/** FONTS FAMILIES STARTS HERE...**/
@font-face {
	font-family: 'Lato-light';
	src:url('lato/Lato-light.ttf');
	}
	@font-face {
		font-family: 'OpenSans-Italic';
		src:url('open sans/OpenSans-Italic.ttf');
	}
	@font-face {
		font-family: 'OpenSans-Regular';
		src:url('open sans/OpenSans-Regular.ttf');
	}

@font-face {
	font-family: 'merriweather-bold';
	src:url('merriweather/merriweather-bold.ttf');
		}

@font-face {
	font-family: 'abrilface-regular'
	src:url('abrilface/abrilface-regular.ttf');
		}
/** ....FONTS FAMILIES STOPS HERE**/

body{
	background-image: url('bglight.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  margin:0px;
  width: 100%;
}


.header{
	 background-color:#000000;
	 padding: 30px;
	 color:#ffffff;
	 font-family: 'OpenSans-Regular';
	 margin-bottom: 8%;
}
.logo{
	float:left;
	text-transform: uppercase;
}

.nav{
	float:right;
}
.nav a{
	text-decoration: none;
	color:white;
	padding-left: 6px;
	padding-right: 7px;
}

.nav a:hover{
	color:green;
}
